---
import Layout from "../layouts/Layout.astro";


const cabecera = {
  src: "AUDIBLE/1.mp4",
  alt: "Cabecera",
};
const racional = {
  src: "AUDIBLE/2.png",
  alt: "Racional",
};
const graficas = {
  src: "AUDIBLE/3.webp",
  alt: "Gr치ficas",
};
const metro = {
  src: "AUDIBLE/4.webp",
  alt: "Metro",
};
const graficas2 = {
  src: "AUDIBLE/5.webp",
  alt: "Graficas-2",
};
const revista = {
  src: "AUDIBLE/6.webp",
  alt: "Revista",
};
const footer = {
  src: "AUDIBLE/7.png",
  alt: "Footer",
};
---

<Layout
  title="Audible - Hazlo m치s f치cil"
  description="Encontrar una postura c칩moda para leer a veces es muy complicado"
  favicon="AUDIBLE.webp"
>
  <main
    class="main-project"
  >
    <section class="image-section">
      <!-- <img
        src={cabecera.src}
        alt={cabecera.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={cabecera.src} type="video/mp4" />
      </video>
    </section>

    <section class="image-section">
      <img
        src={racional.src}
        alt={racional.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <img
        src={graficas.src}
        alt={graficas.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <img
        src={metro.src}
        alt={metro.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <img
        src={graficas2.src}
        alt={graficas2.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <img
        src={revista.src}
        alt={revista.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <img
        src={footer.src}
        alt={footer.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
  </main>
</Layout>
