---

import Layout from "../layouts/Layout.astro";

const cabecera = {
  src: 'VOICES/1.mp4',
  alt: "Cabecera",
};
const siri = {
  src: 'VOICES/2.mp4',
  alt: "Siri",
};
const moviles = {
  src: 'VOICES/4.mp4',
  alt: "Moviles",
};
const footer = {
  src: 'VOICES/5.mp4',
  alt: "Footer",
};

const videoSrc =
  "https://player.vimeo.com/video/943601539?h=e94a00af9c&amp;title=0&amp;byline=0&amp;portrait=0";
---

<Layout
  title="DGTxApple - Familiar Voices"
  description="Conducir solo aumenta el riesgo de tener un accidente de tráfico. Pero tengo una solución"
  favicon="FAMILIAR_VOICES.webp"
>
   <main
    class="main-project" >
    <section class="image-section">
      <video autoplay loop muted playsinline>
        <source src={cabecera.src} type="video/mp4" />
      </video>
      <!-- <img src={cabecera.src} alt={cabecera.alt} class="full-width-image" loading="lazy"  /> -->
    </section>

    <section class="image-section">
      <video autoplay loop muted playsinline>
        <source src={siri.src} type="video/mp4" />
      </video>
      <!-- <img src={siri.src} alt={siri.alt} class="full-width-image" loading="lazy" /> -->
    </section>

    <section class="video-section">
      <iframe
        src={videoSrc}
        title="Familiar Voices"
        class="full-width-video"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        sandbox="allow-same-origin allow-scripts allow-pointer-lock allow-forms allow-popups"
      ></iframe>
    </section>
    <section class="image-section">
      <video autoplay loop muted playsinline>
        <source src={moviles.src} type="video/mp4" />
      </video>
      <!-- <img src={moviles.src} alt={moviles.alt} class="full-width-image" loading="lazy" /> -->
    </section>

    <section class="image-section">
      <video autoplay loop muted playsinline>
        <source src={footer.src} type="video/mp4" />
      </video>
      <!-- <img src={footer.src} alt={footer.alt} class="full-width-image" loading="lazy" /> -->
    </section>
  </main>
</Layout>

 
