---
import Layout from "../layouts/Layout.astro";
import ProjectWrapper from "../layouts/ProjectWrapper.astro";

const cabecera = {
  src: "THIEF_SHOP/1.mp4",
  alt: "Cabecera",
};
const racional = {
  src: "THIEF_SHOP/2.webp",
  alt: "racional",
};
const bocetos = {
  src: "THIEF_SHOP/4.mp4",
  alt: "Bocetos",
};
const footer = {
  src: "THIEF_SHOP/5.mp4",
  alt: "Footer",
};
const videoSrc =
  "https://player.vimeo.com/video/945923270?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479";
---

<Layout
  title="GiffGaff - Thief Shop"
  description="Giffgaff quería hacer una campaña de PR para dar a conocer sus móviles de segunda mano en Londres. Capitar europea de los robos de móviles"
  favicon="GIFFGAFF.webp"
>
  <ProjectWrapper>
    <section class="image-section">
      <!-- <img
        src={cabecera.src}
        alt={cabecera.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={cabecera.src} type="video/mp4" />
      </video>
    </section>
    <section class="image-section">
      <img
        src={racional.src}
        alt={racional.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
    <section class="video-section">
      <iframe
        src={videoSrc}
        title="Giffgaff"
        class="full-width-video"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        sandbox="allow-same-origin allow-scripts allow-pointer-lock allow-forms allow-popups"
      ></iframe>
    </section>

    <section class="image-section">
      <!-- <img
        src={bocetos.src}
        alt={bocetos.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={bocetos.src} type="video/mp4" />
      </video>
    </section>

    <section class="image-section">
      <!-- <img
        src={footer.src}
        alt={footer.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={footer.src} type="video/mp4" />
      </video>
    </section>
  </ProjectWrapper>
</Layout>
