---
import Layout from "../layouts/Layout.astro";
import ProjectWrapper from "../layouts/ProjectWrapper.astro";

const cabecera = {
  src: 'NIKE/1.png',
  alt: "Cabecera",
};

const images = [
  {
    src: 'NIKE/3.webp',
    alt: "Messi",
  },
  {
    src: 'NIKE/4.webp',
    alt: "Atleti",
  },
  {
    src: 'NIKE/5.webp',
    alt: "Morata",
  },
];


const footer = {
  src: 'NIKE/6.png',
  alt: "Footer",
};
const videoSrc =
  "https://player.vimeo.com/video/951917982?h=e9b4b62249&title=0&byline=0&portrait=0";
---

<Layout
  title="Nike - Ellas"
  description="JUST DO IT. Aunque a veces hacerlo sea un problema"
  favicon="NIKE.webp"
>
   <ProjectWrapper
  >
    <section class="image-section">
      <img
        src={cabecera.src}
        alt={cabecera.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
    <section class="video-section">
      <iframe
        src={videoSrc}
        title="Nike"
        class="full-width-video"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        sandbox="allow-same-origin allow-scripts allow-pointer-lock allow-forms allow-popups"
      ></iframe>
    </section>

    {
      images.map((image) => (
        <section class="image-section">
          <img
            src={image.src}
            alt={image.alt}
            class="full-width-image"
            loading="lazy"
          />
        </section>
      ))
    }

    <section class="image-section">
      <img
        src={footer.src}
        alt={footer.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
  </main>
</Layout>

 
