---
import { fade } from "astro:transitions";
import Layout from "../layouts/Layout.astro";

const cabecera = {
  src: 'RESACA/1.gif',
  alt: "Cabecera",
};
const boton = {
  src: 'RESACA/2.gif',
  alt: "Boton",
};
const footer = {
  src: 'RESACA/4.png',
  alt: "Footer",
};
const videoSrc =
  "https://player.vimeo.com/video/943596433?h=80bf2d2700&amp;title=0&amp;byline=0&amp;portrait=0";
---

<Layout
  title="Notco - Resaca off the map"
  description="Nosotras nos lo tomamos al pie de la letra, borramos la resaca del mapa, literalmente"
  favicon="RESACA.png"
>
  <main
    class="main-project"
    transition:name={`image-notco-resaca-off-the-map`}
    transition:animate={fade({ duration: "0.6s" })}
  >
    <section class="image-section">
      <img
        src={cabecera.src}
        alt={cabecera.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <img
        src={boton.src}
        alt={boton.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
    <section class="video-section">
      <iframe
        src={videoSrc}
        title="Resaca"
        class="full-width-video"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        sandbox="allow-same-origin allow-scripts allow-pointer-lock allow-forms allow-popups"
      ></iframe>
    </section>

    <section class="image-section">
      <img
        src={footer.src}
        alt={footer.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
  </main>
</Layout>
