---
import Layout from "../layouts/Layout.astro";

const cabecera = {
  src: "NIEVE/1.mp4",
  alt: "Cabecera",
};
const logos = {
  src: "NIEVE/4.png",
  alt: "Logos",
};
const insta = {
  src: "NIEVE/5.mp4",
  alt: "Insta",
};
const carteles = {
  src: "NIEVE/6.webp",
  alt: "Carteles",
};
const historias = {
  src: "NIEVE/7.mp4",
  alt: "Historias",
};
const comentarios = {
  src: "NIEVE/8.mp4",
  alt: "Comentarios",
};
const footer = {
  src: "NIEVE/9.mp4",
  alt: "Footer",
};
const videoSrc =
  "https://player.vimeo.com/video/950819241?h=20cae1ccf9&amp;title=0&amp;byline=0&amp;portrait=0";

const videoSrc2 =
  "https://player.vimeo.com/video/950726937?h=784c0cf346&amp;title=0&amp;byline=0&amp;portrait=0";
---

<Layout
  title="Sin Nieve No Hay Sociedad"
  description="Los Andes se derriten un 10% cada diez años y, para reivindicarlo, aprovechamos que todo el mundo habla de la película del momento: 'La sociedad de la nieve'."
  favicon="SIN_NIEVE.webp"
>
  <main
    class="main-project"
  >
    <section class="image-section">
      <!-- <img
        src={cabecera.src}
        alt={cabecera.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={cabecera.src} type="video/mp4" />
      </video>
    </section>

    <section class="video-section">
      <iframe
        src={videoSrc}
        title="Sin Nieve"
        class="full-width-video"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        sandbox="allow-same-origin allow-scripts allow-pointer-lock allow-forms allow-popups"
      ></iframe>
    </section>

    <section class="video-section">
      <iframe
        src={videoSrc2}
        title="Sin Nieve 2"
        class="full-width-video"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        sandbox="allow-same-origin allow-scripts allow-pointer-lock allow-forms allow-popups"
      ></iframe>
    </section>

    <section class="image-section">
      <img
        src={logos.src}
        alt={logos.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <!-- <img
        src={insta.src}
        alt={insta.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={insta.src} type="video/mp4" />
      </video>
    </section>

    <section class="image-section">
      <img
        src={carteles.src}
        alt={carteles.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <!-- <img
        src={historias.src}
        alt={historias.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={historias.src} type="video/mp4" />
      </video>
    </section>

    <section class="image-section">
      <!-- <img
        src={comentarios.src}
        alt={comentarios.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={comentarios.src} type="video/mp4" />
      </video>
    </section>

    <section class="image-section">
      <!-- <img
        src={footer.src}
        alt={footer.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={footer.src} type="video/mp4" />
      </video>
    </section>
  </main>
</Layout>
