---

import Layout from "../layouts/Layout.astro";
import { fade } from "astro:transitions";

const cabecera = {
  src: "https://s3-alpha-sig.figma.com/img/1635/d9d2/aed9e9a804b83724dc1ac9f5b071a17f?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NLt2slyKJ9Ah608Zfc6spePfULMKWl-WWByuuXz26LC6rjWYWzQ2gf1zjB1d6Eq2919hoTmB-~tiqy7a8XOo5ESeVR5t4jlC4erI5AkFONStTAbkvBLTxXRdHvEsUkCyKITgWozYWmqr6XmFpoLsXALA2yS9t5943eyNjpHa9GQ6mgKsmvh2oCfvvKwcOvTTBNhyibqey-cotxInSSSbdnqn1~Qi~Taxk-NtHsew~9TCXUtwzHtqkhnNVPaDsNnS7L1Crp6mDBV7agsGmuCfhbTAZv~gzspo5MO3IAKC4JEfT2wjNF9It1nssdhwlEGyj9tXNKN6b7IJUOyuih7Msg__",
  alt: "Cabecera",
};
const mockup = {
  src: "https://s3-alpha-sig.figma.com/img/b090/6edc/fd6ae20a8616006e709ba2b671212285?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gUBNLixU~C7AkwaxbzoJtae-5T2LUshppPmK3FowAbRvi25Ay92uI1QhS3xA14RFWNfwlZEwt~DkdGJampBOyZrnJg35BgmC-MZlevdIhgTOOd33xUzwl6sBNA1BsJ942KKjr2OZqf8yDKsGWGehdd~P1epwWbfQZyNamDqMWfTN5nGJUk0SKPsbXeM7urKlNSSH5Fd~mbvx08pVSg~2z~zsY145tQJnVdt1ryPm9jMH7YF9IKoQW24cg7CpwWODphuxg~zts7TgEGGBX65uGYjIq5VcyamR2pTLFwfSbeO2ToxFlHaroSykt1PWr96UV1W2AAj6~F4p6-FSu-Wbjg__",
  alt: "mockup",
};
const footer = {
  src: "https://s3-alpha-sig.figma.com/img/10fa/3859/1e330cb87c4bfa17fb0c04d9d4d0a4c4?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=P-~q-b55eTnV1j7qcqOkdKIJEYmAWfo46VcYipJHysR3xSH2M4eGpD80U2~z6Oc0rVJh2o2d6Chvouhjb7r5PpjbnwjY-zo6EQtNJpl6jpMKIiN50hbrvL88dAcvL5St-Z3808uTLbdKaki6ZJx9rfC8-NNuyasLNFQlfEp3lgwJzej0RkyxuB3HlB9EkDctu~lZDoBzuyJ82EFtcz88bQbjECHg2UjorVW~v7DNMViXMNWGaSpL6S8bkCsYq9ZbT1LX3v6CbNXsTMtkFRCMc6-C1wb3BZULScUHkU9jobpYMAllLaQPnzX~PgmKTJ1aCjzIOx8D1finKRXvnEnxBQ__",
  alt: "Footer",
};
const frases = {
  src: "https://s3-alpha-sig.figma.com/img/5849/1895/6aad500391e4d3c9b56ab33e7f20a465?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mscgyeuDceE9dYJ-jSRhx1BChn4TajMGe0zrTokZFIZH~H~5kpiuOpuAn-NGiTBY2fJP3Qai7pJfvHw2WFSaubX2dry-9zDsThYwjLh3WoKzNQDzXdIaL2DfuDT9NpIHUKwJ66GTpGae7MsIo-0xPWCozOBadDrp9cGHpdHzxgizASAzR15MKh1b7aTQlHlkLnhuNGtEW2WQXGs1-P1OLevpM6x0tckmdg1xWC-qKQJ-e0G5-d-ZrPIcozCvmajgHgVJf-A-tnWbiGjAiCGnZxQiHlvEM6tbHODWvf1VzRXatflOzOQzWJs31w3AA6FdCROt3gHr9Yz5r3r4oxIaQw__",
  alt: "Frases",
};
---

<Layout title="Spotify Plan Familiar" description="El plan familiar son los padres">
   <main
    class="main-project"
    transition:name={`image-spotify-plan-familiar`}
    transition:animate={fade({ duration: "0.6s" })}
  >
    <section class="image-section">
      <img
        src={cabecera.src}
        alt={cabecera.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
    <section class="image-section">
      <img
        src={mockup.src}
        alt={mockup.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <img
        src={frases.src}
        alt={frases.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <img
        src={footer.src}
        alt={footer.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
  </main>
</Layout>

 
