---
import { fade } from "astro:transitions";
import Layout from "../layouts/Layout.astro";

const cabecera = {
  src: "VPN/1.gif",
  alt: "Cabecera",
};
const texto = {
  src: "VPN/2.gif",
  alt: "Texto",
};
const moviles = {
  src: "VPN/4.gif",
  alt: "Moviles",
};
const mapas = {
  src: "VPN/5.gif",
  alt: "Mapas",
};
const footer = {
  src: "VPN/6.gif",
  alt: "Footer",
};

const videoSrc =
  "https://player.vimeo.com/video/936601328?h=12cb3368ef&amp;title=0&amp;byline=0&amp;portrait=0";
---

<Layout
  title="Spotify VPN Generator"
  description="Spotify VPN Generator"
  favicon="SPOTIFY.png"
>
  <main
    class="main-project"
    transition:name={`image-spotify-vpn-generator`}
    transition:animate={fade({ duration: "0.6s" })}
  >
    <section class="image-section">
      <img
        src={cabecera.src}
        alt={cabecera.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <img
        src={texto.src}
        alt={texto.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="video-section">
      <iframe
        src={videoSrc}
        title="Spotify"
        class="full-width-video"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        sandbox="allow-same-origin allow-scripts allow-pointer-lock allow-forms allow-popups"
      ></iframe>
    </section>
    <section class="image-section">
      <img
        src={moviles.src}
        alt={moviles.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <img
        src={mapas.src}
        alt={mapas.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <img
        src={footer.src}
        alt={footer.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
  </main>
</Layout>
