---
import Layout from "../layouts/Layout.astro";

const cabecera = {
  src: 'PLAN_FAMILIAR/1.mp4',
  alt: "Cabecera",
};
const mockup = {
  src: 'PLAN_FAMILIAR/2.webp',
  alt: "mockup",
};
const frases = {
  src: 'PLAN_FAMILIAR/3.mp4',
  alt: "Frases",
};
const footer = {
  src: 'PLAN_FAMILIAR/4.webp',
  alt: "Footer",
};
---

<Layout
  title="Spotify Plan Familiar"
  description="El plan familiar son los padres"
  favicon="PLAN_FAMILIAR.webp"
>
  <main
    class="main-project"
  >
    <section class="image-section">
      <img
        src={cabecera.src}
        alt={cabecera.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
    <section class="image-section">
      <!-- <img
        src={mockup.src}
        alt={mockup.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={mockup.src} type="video/mp4" />
      </video>
    </section>

    <section class="image-section">
      <img
        src={frases.src}
        alt={frases.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <!-- <img
        src={footer.src}
        alt={footer.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={footer.src} type="video/mp4" />
      </video>
    </section>
  </main>
</Layout>
