---
import { fade } from "astro:transitions";
import Layout from "../layouts/Layout.astro";

const mosca = {
  src: "VICIO/1.gif",
  alt: "Mosca",
};
const texto1 = {
  src: "VICIO/3.gif",
  alt: "Texto1",
};
const texto2 = {
  src: "VICIO/4.png",
  alt: "Texto2",
};
const basura = {
  src: "VICIO/5.gif",
  alt: "Basura",
};
const texto3 = {
  src: "VICIO/6.png",
  alt: "Texto3",
};
const contrato = {
  src: "VICIO/7.gif",
  alt: "Contrato",
};
const premio = {
  src: "VICIO/8.gif",
  alt: "Premio",
};

const videoSrc =
  "https://player.vimeo.com/video/934956545?h=02e8f4c91b&amp;title=0&amp;byline=0&amp;portrait=0";
---

<Layout
  title="Vicio - Trashy Agreement"
  description="Vicio quería comunicar que sus hamburguesas son de alta calidad pero no daban ninguna pista del porqué"
  favicon="VICIO.png"
>
  <main
    class="main-project"
    transition:name={`image-vicio-trashy-agreement`}
    transition:animate={fade({ duration: "0.6s" })}
  >
    <section class="image-section">
      <img
        src={mosca.src}
        alt={mosca.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="video-section">
      <iframe
        src={videoSrc}
        title="Vicio"
        class="full-width-video"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        sandbox="allow-same-origin allow-scripts allow-pointer-lock allow-forms allow-popups"
      ></iframe>
    </section>
    <section class="image-section">
      <img
        src={texto1.src}
        alt={texto1.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
    <section class="image-section">
      <img
        src={texto2.src}
        alt={texto2.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
    <section class="image-section">
      <img
        src={basura.src}
        alt={basura.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
    <section class="image-section">
      <img
        src={texto3.src}
        alt={texto3.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
    <section class="image-section">
      <img
        src={contrato.src}
        alt={contrato.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
    <section class="image-section">
      <img
        src={premio.src}
        alt={premio.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
  </main>
</Layout>
