---
import Layout from "../layouts/Layout.astro";

const cabecera = {
  src: "ZALANDO/1.mp4",
  alt: "Cabecera",
};
const frase = {
  src: "ZALANDO/3.mp4",
  alt: "Frase",
};
const moviles = {
  src: "ZALANDO/4.mp4",
  alt: "Moviles",
};
const footer = {
  src: "ZALANDO/5.webp",
  alt: "Footer",
};

const videoSrc =
  "https://player.vimeo.com/video/949532692?h=13f3f92664&amp;title=0&amp;byline=0&amp;portrait=0";
---

<Layout
  title="Zalando - Dress they up"
  description="Dress they up"
  favicon="ZALANDO.webp"
>
  <main
    class="main-project"
  >
    <section class="image-section">
      <!-- <img
        src={cabecera.src}
        alt={cabecera.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={cabecera.src} type="video/mp4" />
      </video>
    </section>

    <section class="video-section">
      <iframe
        src={videoSrc}
        title="Zalando"
        class="full-width-video"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        sandbox="allow-same-origin allow-scripts allow-pointer-lock allow-forms allow-popups"
      ></iframe>
    </section>
    <section class="image-section">
      <!-- <img
        src={frase.src}
        alt={frase.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={frase.src} type="video/mp4" />
      </video>
    </section>

    <section class="image-section">
      <!-- <img
        src={moviles.src}
        alt={moviles.alt}
        class="full-width-image"
        loading="lazy"
      /> -->
      <video autoplay loop muted playsinline>
        <source src={moviles.src} type="video/mp4" />
      </video>
    </section>

    <section class="image-section">
      <img
        src={footer.src}
        alt={footer.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
  </main>
</Layout>
