---
import Layout from "../layouts/Layout.astro";
import { fade } from "astro:transitions";

const cabecera = {
  src: "https://s3-alpha-sig.figma.com/img/5423/8675/7078b81489f2973c9bfab043be498792?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MUJ3vlFf~EeAPy~Po76hqC3F~jeWtuNHpjaxodM8oZmlsFfYsFfv4meoX1mLyyBFBiecZjI4sY0SdcTJXjCCiwNzEe7aU7k5pbBrJjR76BFYJkMta64-b5ZFkxPxhKq~XSz3H2fa7C3tR~ywU5dCQnVjhEvDGzEWsObpZWGliud47G2ly-fhXXkqoHc7IqiVCVfgQOPgLGG5oaTv5i4Ewb9ikapVXrW2WcYjfeT-HjLCqoixxs5Mr-s6tW1MJvbJSHhUwEjNpKconzRuuqTGl5UQkq155WMJR9-LE94WJoTf6jJf7Q2VLDL4-Qb7783y5w7NjMVb8Xj5kVL80phu4w__",
  alt: "Cabecera",
};
const footer = {
  src: "https://s3-alpha-sig.figma.com/img/1d59/a9fa/66db91ea6d7fa6f133d77d927c675992?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=l6bjCa2Dg2ian-6HUI3ILomLIv~Fp8GlswvbeKZFeQoHYjSYjJQQ9htcPA~2T7F9ZwlFMirchugFpnYAEvGkqVWOEeGa6F0kHnEIduu7UD4BQmPXHJ-i-Ovi7wfoNGAbZomQqpkl5Vm6yvY1mc-HyDi1pVW3c949KcZkWg5RUJZMr7GB6yocMhCa-AqOkqma0evo1Wpsn4wwGmUVUEk5bErkPG~XS8PdS~3nSGW6YuAPy0JqRG7GUXif9d~FEx5hAs1KwAgrRUxJwNoYeXg039k0kD~8CtVOng1LUr6INn8nmrTaFb3es-hq1jftGai9znsqCOd5Erd0WnFKEStfHA__",
  alt: "Footer",
};
const moviles = {
  src: "https://s3-alpha-sig.figma.com/img/1158/0a0e/46ab48bdbaf556e0d680abc1271d1758?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=jFjqn-zXf9-t1ogiN5ZeL0Zy~yyjEejhLrjV28tFUKhoGHlaEe1ehFC-it~11X~1sqEGviBUUWC4h-pr4LLowPfm7lrQ5VBZrA8X5V1Qfz2ncL3pbFTzmsxRUjjxzwCv16Zrjo519cxOu397kKyupg~i6VbCuFiixwYdQjENCgEo0K-7bAt3C2AARUJElnZx~KMFGaSAZpuygu7mi5r1cX7cu088H~e1iawjgav3v1g0BpyXgtZ1QZorHc-IEXn3Ql-WDSJQt-BKJ9F3i7v~TB5KvnyTwCy9CjtpZ~kmsn9T~8jnH-36KxjV1ktz~BE6fqBadDoJwv0G~tmXHNCeUg__",
  alt: "Moviles",
};
const frase = {
  src: "https://s3-alpha-sig.figma.com/img/f2b7/0132/595a0a83edbaba7fe591b4073b3446e8?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HY9RrfeV11yZiJBN1hcx7YIDXpettiUQpCC1E-8Eq3UV8kMLhF6AnuypIepww8Bcx6KvT7HW2BUf8uhQtwSr8xmDyOdPi8XfWRqCoZ2e~gtGhvCx9kv0wP40S6CZdOhIi7klNSMyGf0g-~buyLQEWVTq-cqkDKAzef6oIJJhZxNcafB30Ml9~8Ird~6ZV2x2RZmfJes59zotZX-5mZKQrC3GWT2OBaPktUlvw873DccTGuryuM5GtFURmjLqC5NT3pWv23NmpdZC5EfdY8~pVCZTcJIWxgA5tpHfFPTHX0Pa0L-79GtDrYsoeqhaOreu9pQ8-716maKd4bVFSFsJog__",
  alt: "Frase",
};

const videoSrc =
  "https://player.vimeo.com/video/949532692?h=13f3f92664&amp;title=0&amp;byline=0&amp;portrait=0";
---

<Layout title="Zalando" description="Dress they up">
   <main
    class="main-project"
    transition:name={`image-zalando`}
    transition:animate={fade({ duration: "0.6s" })}
  >
    <section class="image-section">
      <img
        src={cabecera.src}
        alt={cabecera.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="video-section">
      <iframe
        src={videoSrc}
        title="Zalando"
        class="full-width-video"
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
        sandbox="allow-same-origin allow-scripts allow-pointer-lock allow-forms allow-popups"
      ></iframe>
    </section>
    <section class="image-section">
      <img
        src={frase.src}
        alt={frase.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <img
        src={moviles.src}
        alt={moviles.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>

    <section class="image-section">
      <img
        src={footer.src}
        alt={footer.alt}
        class="full-width-image"
        loading="lazy"
      />
    </section>
  </main>
</Layout>

 
